* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  margin-top: 50px;
  width: 100%;
  height: 12vh;
  display: flex;
  align-items: center;
}

.dentro-header {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}

.indice {
  display: flex;
}

.indiceul {
  display: flex;
  gap: 25px;
}

.indiceul {
  font-size: 13px;
  list-style: none;
}

.indiceli {
  padding: 10px;
  font-size: 13px;
  list-style: none;
}

.immagine {
  width: 8%;
  height: 70%;
}

.immagine > img {
  width: 100%;
}

.bg-img {
  width: 100%;
  max-height: 50vh;
  overflow: hidden;
}

.bg-img > img {
  width: 100%;
  height: 100%;
}

.carta {
  width: 14%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.immagine2 {
  width: 100%;
  height: 20%;
}

.primomain {
  width: 100%;
  min-height: 70vh;
  background-color: black;
}

.dentromain {
  width: 80%;
  max-height: 100%;
  margin: 0 auto;
}

.scritta {
  padding-top: 60px;
  padding-bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.lead {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.lead > h3 {
  font-size: 13px;
  padding: 13px 35px 13px 35px;
  color: white;
  background-color: rgba(5, 83, 185, 0.918);
}

.current {
  position: relative;
}

.current > h3 {
  margin-top: 120px;
  position: absolute;
  top: -856px;
  left: 1px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 13px;
  padding: 13px;
  color: white;
  background-color: rgb(5, 83, 185);
}

.accatre {
  color: white;
}

.liste {
  display: flex;
}

.par {
  color: rgba(255, 255, 255, 0.363);
  font-size: 14px;
  padding-right: 30px;
}

.par > h3 {
  color: white;
}

.par > p {
  margin: 0;
  padding-bottom: 5px;
}

.secmain {
  width: 100%;
  height: 20vh;
  background-color: rgba(5, 83, 185, 0.918);
}

.dentrosecmain {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.cartedue {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cartedue > div img {
  width: 40px;
}

.cartedue > div span {
  font-size: 13px;
  color: white;
  padding-left: 10px;
}

.cartedue > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgmain {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgmain > img {
  min-width: 90%;
  max-height: 100%;
}

/* main ter */
.maintre {
  width: 100%;
  height: 60vh;
  background-image: url("img/footer-bg.jpg");
}

.maintrecentr {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bglogo {
  width: 52.5%;
  background-position: center;
  height: 100%;
  background-image: url(../assets/dc-logo-bg.png);
  background-repeat: no-repeat;
}

.bglogo > img {
  padding-bottom: 50px;
}

.footer {
  width: 100%;
  height: 15vh;
  background-color: rgba(0, 0, 0, 0.904);
}

.footercentro {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signup {
  color: white;
  border: 2px solid rgba(5, 83, 185, 0.918);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 10px;
}

.follow {
  color: rgba(5, 83, 185, 0.918);
  display: flex;
  align-items: center;
  gap: 15px;
}

.icona {
  width: 40px;
  height: 40px;
}